# Example file for .env
# This file should be renamed to .env and filled with the appropriate values
# The following variables are required for the application to run
# 

# The following variables are optional and can be left blank
# PORT=8080

